* {
    box-sizing: border-box;
}

.body-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    grid-gap: 1rem;
  }

 .producers{

}

.wines{

} 

ul { 
  list-style-type: none;
}
